{% extends "dashboard-base.html" %}
{% load static %}

{% block page_name %}Hotel Setup{% endblock %}

{% block content %}
<div class="row" id="app">
	<ul>
		<li v-for="floor in floors" :key="floor.id">
			${floor.number} - ${floor.rooms}
		</li>
	</ul>
</div>
{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/ajax.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
<script>
	const app = Vue.createApp({
		data() {
			return {
				floors: [
					{id: 1, number: "1", rooms: 25},
					{id: 2, number: "2", rooms: 35},
				]
			}
		},
		compilerOptions: {
    		delimiters: ['${', '}'],
    	}
	});

	app.mount("#app");
</script>
{% endblock %}

{% block page_styles %}
{% endblock %}