{% extends "dashboard-base.html" %}
{% load static %}

{% block page_name %}Booking Detail{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="mb-3">
            <a href="{% url 'dashboard-booking' %}" class="btn btn-primary btn-sm">Back</a>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-error alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> {{message}}.
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> {{message}}.
                {% endif %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-header">
                Booking: {{booking_data.user}}
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <div class="fw-bold">User:</div>
                    {{booking_data.user}}
                </div>
                <div class="mb-2">
                    <div class="fw-bold">Start Date:</div>
                    {{booking_data.start_date}}
                </div>
                <div class="mb-2">
                    <div class="fw-bold">End Date:</div>
                    {{booking_data.end_date}}
                </div>
                <div class="mb-2">
                    {% if booking_data.status == "scheduled" %}
                        <div class="fw-bold">Scheduled Room:</div>
                        Floor: {{booking_data.scheduled_room.floor.number}}, Room: {{booking_data.scheduled_room.number}}
                    {% elif booking_data.status == "checked_in" %}
                        <div class="fw-bold">Room:</div>
                        Floor: {{booking_data.room.floor.number}}, Room: {{booking_data.room.number}}
                    {% endif %}
                </div>
                <div>
                    <div class="fw-bold">Status:</div>
                    {{booking_data.get_status_display}}
                </div>
            </div>
            {% if booking_data.status == "scheduled" %}
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-check-in-modal">Check-In</button>
                </div>
            {% endif %}
        </div>

        <div class="card mt-3">
            <div class="card-header">
                History
            </div>
            <div class="card-body">
                {% for log in logs %}
                    <p class="card-text">{{log.when}}: {{log.what}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-check-in-modal" tabindex="-1" aria-labelledby="confirm-check-in-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-check-in-modal-label">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">Are you sure you want to check this person in?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm-check-in-modal-save-button">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/ajax.js' %}"></script>
<script>
    const csrfToken = "{{csrf_token}}";
    const confirmUrl = "{% url 'dashboard-check-in-user' booking_data.id %}";
    document.getElementById("confirm-check-in-modal-save-button").addEventListener("click", async (event) => {
        let response = await postData(confirmUrl, csrfToken, {"action": "check-in"}, {"returnType": "json"});
        if (response.result == "success") {
            window.location.reload(true);
        }
    })
</script>
{% endblock %}

{% block page_styles %}
{% endblock %}
