{% extends "dashboard-base.html" %}

{% block page_name %}Booking{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Current Bookings
            </div>
            <div class="card-body">
                <p class="card-text">No current bookings found</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm">Create</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
{% endblock %}