{% extends "dashboard-base.html" %}

{% block page_name %}Find Room{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <span class="align-middle fw-bold">Room Schedule</span>
                <div class="btn-group float-end" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-sm" href="{{request.path}}?sd={{prev_week|date:'m-d-Y'}}"><</a>
                    <a class="btn btn-primary btn-sm" href="{{request.path}}?sd={{next_week|date:'m-d-Y'}}">></a>
                    <a class="btn btn-primary btn-sm" href="{{request.path}}?sd={{today|date:'m-d-Y'}}">Today</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <th>Room</th>
                        {% for a_date in date_list %}
                            <th>{{a_date|date:"m-d"}}</th>
                        {% endfor %}
                    </thead>
                    {% for room in room_list %}
                        <tr>
                            <td>{{room.floor.number}}:{{room.number}}</td>
                            {% for a_date in date_list %}
                                {% room_status_for_date a_date room %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="card-footer">
        
            </div>
        </div>
        {{room_schedule}}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
<style>
    .room-vacant {
        background-color: green !important;
    }

    .room-booked {
        background-color: red !important;
    }
</style>
{% endblock %}