{% extends "dashboard-base.html" %}

{% block page_name %}Find Room{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <span class="align-middle fw-bold">Room Schedule</span>
                <div class="btn-group float-end" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-sm" href="{{request.path}}"><</a>
                    <a class="btn btn-primary btn-sm" href="{{request.path}}">></a>
                    <a class="btn btn-primary btn-sm" href="{{request.path}}">Today</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <th>Room</th>
                        {% for a_date in date_list %}
                            <th>{{a_date|date:"m-d"}}</th>
                        {% endfor %}
                    </thead>
                    {% for room in room_list %}
                        <tr>
                            <td>{{room.floor.number}}:{{room.number}}</td>
                            {% for a_date in date_list %}
                                {% room_status_for_date a_date room %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-sm disabled" id="next-button">Next</button>
            </div>
        </div>
        {{room_schedule}}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.10.7/plugin/customParseFormat.js"></script>
<script>
    let selectedCells = [];
    const totalDaysRequested = parseInt("{{total_days}}", 10);

    document.addEventListener("DOMContentLoaded", () => {
        dayjs.extend(window.dayjs_plugin_customParseFormat)
    });

    function buildDateList(dateStr, days) {
        const result = [];
        const dayObj = dayjs(dateStr, "MM-DD-YYYY");

        result.push(dayObj);

        for (let i = 1; i < days; i++) {
            result.push(dayObj.add(i, 'day'));
        }

        return result;
    }

    const userId = "{{user_id}}";
    document.querySelectorAll(".room-vacant").forEach((el) => {
        el.addEventListener("click", (event) => {
            const selectedDate = event.target.dataset.cellDate;
            const roomParts = event.target.dataset.roomKey.split(":");
            const floorNum = roomParts[0];
            const roomNum = roomParts[1];
            const data = {
                "selectedDate": selectedDate,
                "floorNum": floorNum,
                "roomNum": roomNum,
                "userId": userId
            };
            
            const dateList = buildDateList(selectedDate, 4);
            
            let isValid = true;
            let elementsToHighlight = [];
            dateList.forEach((d) => {
                const cell = document.querySelector(`[data-cell-date='${d.format('MM-DD-YYYY')}'][data-room-key='${event.target.dataset.roomKey}']`);
                if (cell) {
                    if (cell.classList.contains("room-booked")) {
                        isValid = false;
                    } else {
                        elementsToHighlight.push(cell);
                    }    
                } else {
                    isValid = false;
                }
            });

            console.log(isValid);
            console.log(elementsToHighlight);

            if (isValid) {
                elementsToHighlight.forEach((el) => {
                    el.classList.remove("room-vacant");
                    el.classList.add("room-selected");
                    selectedCells.push(el);
                });

                document.getElementById("next-button").classList.remove("disabled");
            }
        });
    });
</script>
{% endblock %}

{% block page_styles %}
<style>
    .room-vacant {
        background-color: green !important;
    }

    .room-booked {
        background-color: red !important;
    }

    .room-vacant:hover {
        background-color: blue !important;
    }

    .room-selected {
        background-color: blue !important;
    }

    .room-cell {
        border-right: 1px solid black;
    }

    table {
        border-left: 1px solid black;
    }
</style>
{% endblock %}