{% extends 'dashboard-base.html' %}
{% load static %}

{% block page_name %}Floor Setup{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		{% if floor_list %}
			<table class="table table-striped" id="floor-table">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Number</td>
						<td>Rooms</td>
					</tr>
				</thead>
				<tbody class="align-middle">
					{% for floor in floor_list %}
						<tr>
							<td><a class="btn btn-primary btn-sm" href="{% url 'dashboard-floor-detail' floor.id %}">View</a></td>
							<td>{{floor.number}}</td>
							<td>{{floor.room_set.count}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="mb-3">
				<p>No floors have been setup</p>
			</div>
		{% endif %}
		<div class="mb-3">
			<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-floor-modal">Add Floor</button>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="add-floor-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Floor</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
      		<div class="modal-body">
        		<div>
        			<label class="form-label">Floor Number:</label>
        			<input type="number" class="form-control" id="add-floor-number">
        		</div>
        		<div class="mt-3 fw-bold text-danger" id="add-floor-number-errors"></div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        		<button type="button" class="btn btn-primary" id="add-floor-modal-save-button">Add</button>
      		</div>
    	</div>
  	</div>
</div>

<template id="floor-table-row-template">
	<tr>
		<td><a class="btn btn-primary btn-sm row-floor-link" href="#">View</a></td>
		<td class="row-floor-number"></td>
		<td class="row-room-count"></td>
	</tr>
</template>

{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/ajax.js' %}"></script>
<script>
	const csrf_token = "{{csrf_token}}";
	const modal = new bootstrap.Modal(document.getElementById('add-floor-modal'));

	document.getElementById('add-floor-modal-save-button').addEventListener('click', async (event) => {
		const data = {
			"floor-number": document.getElementById("add-floor-number").value
		};

		const url = "{% url 'rooms-ajax-create-floor' %}";
		const response = await postData(url, csrf_token, data);
		if (response.result == "success") {
			
			const row_template_el = document.getElementById("floor-table-row-template");
			const row_template = row_template_el.content.firstElementChild.cloneNode(true);
			row_template.querySelector(".row-floor-number").innerHTML = response.data.number;
			row_template.querySelector(".row-room-count").innerHTML = "0";
			row_template.querySelector(".roow-floor-link").href = response.data.url;

			document.getElementById("floor-table").querySelector("tbody").appendChild(row_template);
			document.getElementById("add-floor-number").value = "";

			modal.hide();
		} else {
			document.getElementById('add-floor-number-errors').innerHTML = response.message;
		}
	});
</script>
{% endblock %}

{% block page_styles %}
{% endblock %}