{% extends 'dashboard-base.html' %}

{% block page_name %}Room Detail{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12 mb-3">
		<a href="{% url 'dashboard-floor-detail' room_data.floor.id %}" class="btn btn-primary btn-sm">Back</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header text-white bg-secondary fw-bold">
				Room: {{room_data.number}}
			</div>
			<div class="card-body">
				<div class="mb-3">
					<div class="fw-bold">Room #:</div>
					<div>{{room_data.number}}</div>
				</div>
				<div>
					<div class="fw-bold">Beds:</div>
					<div>{{room_data.bed_count}}</div>
				</div>
			</div>
			<div class="card-footer">
				<button class="btn btn-primary btn-sm">Add Bed</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
{% endblock %}